body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header, #footer {
    flex: 100%;
}

#sinistro, #destro {
    flex: 50%;
}

@media (max-width: 800px) {
#sinistro, #destro {
    flex: 100%;
}
}

p.note {
  font-family: Arial, Helvetica, sans-serif;
}

ol li:last-child {
    font-weight: bold;
}

a:hover {
	background-color: yellow;
}