# Copia questo file in config.env e modifica i valori con le tue credenziali PostgreSQL
# cp config.env.example config.env

DB_NAME="consorzio_db"
DB_USER="postgres"
DB_HOST="localhost"
DB_PORT="5432"

# Lascia vuoto per inserire la password interattivamente all'avvio dello script
export PGPASSWORD=""

SQL_DIR="./sql"
DATA_DIR="./data"

export PSQL_OPTIONS="--halt-on-error -v ON_ERROR_STOP=1"
